#ipsum-reference, h1 {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#sandbox {
    width: 800px;
    margin: 50px auto;
    padding: 20px 40px;
    border-radius: 10px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border: 5px solid #373737;
}

.sbf-form-errors {
	background: #ffe2e2;
	border: 3px solid #ce4242;
	color: #ce4242;
	padding: 10px;
	width: 400px;
}

.sbf-preform, .sbf-postform {
	margin: 20px 0;
}

.sbf-inline {
	padding: 5px;
	border-width: 1px;
	text-align: center;
	text-transform: uppercase;
	margin: 2px 0 5px 0;
	font-size: 12px;
}

label {
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 20px;
}


